.main-first {
  background-image: url("../../assets/mainfirst.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 641px;
  flex-direction: column;
  margin-top: 10rem;
}
.logo {
  color: white;
  font-size: 4.5rem;
  font-weight: 900;
}
.explain {
  color: white;
  font-size: 1.3rem;
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.keyword {
  font-size: 1.5rem;
  font-weight: bolder;
}
.searchbar {
  width: 550px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  background-color: white;
  border-radius: 45px;
}

.custom-select,
.custom-input {
  border: none;
  height: 100%;
  position: relative;
  z-index: 1;
  border-radius: 45px;
  margin-left: 10px;
}

.custom-select {
  width: 20%;
  text-align: center;
}

.custom-input {
  width: 73%;
}

.custom-input,
.custom-select:focus {
  outline: none;
}
