.cardContainer {
  padding: 1rem;
  border: 1px solid #cccc;
  border-radius: 0.25rem;
  max-width: 640px;
}

.field {
  display: flex;
  margin-bottom: 0.5rem;
}

.field label {
  width: 100%;
  margin-bottom: 0.5rem;
}
.buttonContainer {
  width: 475px;
  display: flex;
  justify-content: space-between;
}
