.container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.substance {
    width: 50%;
    text-align: center;
}

.content {
    margin-bottom: 20px;
}

.title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.result {
    font-size: 1.7rem;
    font-weight: 700;
}

.profName {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.univ {
    font-size: 1rem;
    font-weight: bold;
    color: #434343;
    margin-right: 5px;
}

.dept {
    font-size: 0.9rem;
    font-weight: bold;
    color: #434343;
    font-weight: normal;
}

.chart {
    width: 150px;
    height: 180px;
    margin: 0 auto;
}